@import "tailwindcss";

body {
  background-color: #020617;
}

@layer base {
  /* For Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
  }

  /* For IE, Edge and Firefox */
  html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}